<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042923450038-iuhdc8h9bi5cpdcl5ia6cveafdqq9qds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042923450038-iuhdc8h9bi5cpdcl5ia6cveafdqq9qds</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ti_h8M-6MJUjlz6bpOUw3wnTqOI3C3A</string>
	<key>GCM_SENDER_ID</key>
	<string>1042923450038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathbot</string>
	<key>PROJECT_ID</key>
	<string>mathbot-570d7</string>
	<key>STORAGE_BUCKET</key>
	<string>mathbot-570d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042923450038:ios:e652dc90eebc9ad6f94017</string>
	<key>DATABASE_URL</key>
	<string>https://mathbot-570d7-default-rtdb.firebaseio.com</string>
</dict>
</plist>